.zone {
  border-radius: 30px;
  background: #1f1f1f;
  padding: 20px;
  transition: all 0.1s ease-in;
  box-shadow: -9px -6px 16px -10px #000;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 40px -10px #000;
  }
}

.zone__content {
  border: 3px solid rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 50px 30px;
}

.zone__feature {
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.zone__title {
  font-style: italic;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6px;
}

.zone__image {
  margin-top: 22px;
  padding: 20px;
  border: 3px solid var(--color-pink);
  border-radius: 10px;

  img {
    border-radius: 5px;
    max-height: 289px;
    width: 100%;
    object-fit: cover;
  }
}

.zone__subtitle {
  margin-top: 14px;
  font-weight: 400;
  text-align: center;
}

.zone__link {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 16px;
  color: var(--color-pink);
  justify-content: center;

  svg {
    transition: all 0.1s ease-in;
  }

  &:hover {
    svg {
      transform: translateX(5px);
    }
  }
}
