@use "./reset";
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --color-text: #fff;
  --color-pink: #e73ab8;
  --color-bg: #151515;
  --color-black: #0e0e0e;

  --font-size: 20px;
  --font-family: "Inter", "sans-serif";
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg);
  scroll-behavior: smooth;
  overflow-y: hidden;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}
