@use "/src/shared/styles/mixins" as *;
.hero {
  background-color: #999;
  background-image: url("/images/bg/hero.jpg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hero__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__content-top {
  display: flex;
  align-items: center;
  gap: 47px;

  @include sm {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}

.hero__title {
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  line-height: 0.5;

  span {
    font-weight: 600;
    font-size: 45px;
    font-style: normal;
  }

  @include lg {
    font-size: 64px;
    line-height: 0.8;
  }

  @include sm {
    font-size: 48px;
  }
}

.hero__content-list {
  margin-top: 58px;
  font-weight: 300;
  font-size: 34px;

  li {
    position: relative;
    padding-left: 20px;
    &::before {
      content: "🞂";
      font-size: 14px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @include md {
    font-size: 24px;
  }

  @include sm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero__content-button {
  margin-top: 58px;
  @include sm {
    width: 100% !important;
  }
}
