.char {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  background: #1f1f1f;
  border-radius: 15px;
  padding: 10px;
}

.char__content {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.05);
}

.char__title {
  margin-top: 11px;
  font-size: 18px;
}
.char__value {
  margin-top: 7px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
